.card {
  width: 300px; /* Fixed width for the card */
  height: 350px; /* Fixed height for the card */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
  position: relative;
}

.card-content {
  padding: 15px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #4caf50;
  margin-bottom: 8px;
}

.description {
  color: #555;
  margin-bottom: 10px;
}

.processor {
  color: #777;
  margin-bottom: 5px;
}

/* Style for the buttons container */
.buttons-container {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  margin-top: 10px;
}

/* Style for the buttons */
.button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.edit-button {
  background-color: #2196f3;
}

.button:hover {
  opacity: 0.8;
}
